<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Google Sheet</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 3px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Prueba Python Whatsapp y Google Sheet</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Telefono</th>
            <th>Mensaje</th>
            <th>Fecha y Hora</th>
        </tr>
        {% for registro in registros%}
        <tr>
            <td>{{ registro.id }}</td>
            <td>{{ registro.telefono }}</td>
            <td>{{ registro.texto }}</td>
            <td>{{ registro.fecha_y_hora}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>